/*
  thisdayinhistory.css
*/

.tdih-date {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tdih-date .form-item {
  float: left;
  width: 6em;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  margin-top: 0;
}

.tdih-date .form-item input {
  display: inline;
  width: 73%;
}


table.tdih-events {
  margin: 0;
}

table.tdih-events td, table.tdih-events th {
  padding: 0;
  text-align: left;
}

table.tdih-events td.year-column {
  padding-right: 0.5em;
  width: 5%;
}

table.tdih-events tbody {
  border: 0;
}

table.tdih-events td p {
  margin-top: 0;
  margin-bottom: 0;
}
table.tdih-events tr.even, table.tdih-events tr.odd {
  background: transparent;
  border-style: none;
}

.block-thisdayinhistory p {
  margin: 0.5em 0pt 0.25em;
}
